:root {
  --blue: #78a5eccc;
  --light-blue: #89abe3;
  --egg-shell: #f5f7fc;
  --white: #ffffff;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.windowWrapper {
  background-color: var(--white);
  height: 100vh;
}

.containerGrid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0px 1fr;
  transition: grid-template-columns 0.5s ease;
  grid-template-rows: 80px 1fr;
}

.topBar {
  padding-left: 180px;
  padding-right: 180px;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--light-blue);
  display: flex;

  align-items: center;
  flex-direction: row;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

.leftBar {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--egg-shell);
  transition: width 0.5s ease;
  width: 0;
  overflow: hidden;
}

.leftBar.open {
  width: 250px;
}

.mainContent {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--white);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.ball {
  background-color: var(--blue);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.searchBar {
  text-align: center;
  color: var(--egg-shell);
  border-radius: 50px;
  position: relative;
  padding: 5px;
  width: 80%;
}

.researchWrapper {
  display: flex;
  justify-content: center;
  height: 26px;
  width: 80%;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.searchBar:focus {
  outline: none;
}

.searchBar:focus::placeholder {
  color: transparent;
}

.left-menu {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 24px;
}

.userProfile {
  position: absolute;
  right: 15px;
  top: 18px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--white);
  background-image: url("https://www.w3schools.com/howto/img_avatar.png");
  background-size: cover;
}
.userProfile:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

#darkModeToggle {
  position: absolute;
  right: 90px;
  top: 30px;
}

#TuumsPage {
  cursor: pointer;
  position: absolute;
  left: 90px;
  top: 20px;
}

#newTuum {
  position: absolute;
  right: 150px;
  top: 25px;
  padding: 5px;
}

#newTuum span {
  font-size: 20px;
  margin-right: 10px;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.svg {
  position: relative;
  font-size: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.svg:hover::after {
  content: "Create a new Tuum"; /* No change here */
  position: absolute;
  top: 110%; /* Position the info box below the icon */
  left: 50%;
  transform: translateX(-50%);
  color: black; /* No change here */
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  white-space: nowrap; /* No change here */
  z-index: 1;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.leftBarWrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  padding: 5px;
}

.recentlyVisited {
  display: grid;
  grid-template-rows: 50px 1fr;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

.recentrlyVisitedTitle {
  text-align: center;
  grid-row: 1/2;
}

.recentlyVisitedList {
  grid-row: 2/2;
  overflow-y: auto;
}

.ownContent {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding-top: 5px;
}

.ownContentTitle {
  text-align: center;
  grid-row: 1/2;
}

.ownContentContent {
  grid-row: 2/2;
  overflow-y: auto;
}

@keyframes flip {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.flip-animation {
  animation: flip 1s ease-in-out;
}
