body {
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  position: relative;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #f0f0f0;
}
.tab::after {
  content: "";
  background-color: orange;
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 5px;
  height: 20px;
  transition: width 0.3s;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
  background-color: aqua;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
