<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuum</title>
    <link rel="icon" href="/static/img/TuumLogo.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/stylesheets/index.css"
    />
  </head>
  <body>
    <div id="windowWrapper">
      <div class="containerGrid">
        <header class="topBar">
          <i
            id="toggle-menu"
            class="fa-solid fa-bars svg-dimentions left-menu"
          ></i>
          <h1 class="lato-black" id="TuumsPage">Tuums</h1>
          <section>
            <div class="researchWrapper">
              <input
                placeholder="Search Here"
                class="searchBar"
                type="search"
              />
            </div>
            <div id="newTuum">
              <i class="fa-regular fa-square-plus svg"></i>
            </div>
          </section>

          <div id="darkModeToggle">
            <input type="checkbox" class="checkbox" id="checkbox" checked />
            <label for="checkbox" class="checkbox-label">
              <i class="fas fa-moon"></i>
              <i class="fas fa-sun"></i>
              <span class="ball"></span>
            </label>
          </div>

          <div class="userProfile"></div>
          <div id="profile-menu" class="lato-regular hidden">
            <div class="menu-item">
              <i class="fa-regular fa-user userMenuSvg"></i>
              <a href="#">Profile</a>
            </div>
            <div class="menu-item">
              <i class="fa-solid fa-gear userMenuSvg"></i>
              <a href="#">Settings</a>
            </div>
            <div class="menu-item">
              <i class="fa-solid fa-arrow-right-from-bracket userMenuSvg"></i>

              <a href="#">Logout</a>
            </div>
          </div>
        </header>
        <div class="leftBar">
          <div class="leftBarWrapper">
            <div class="recentlyVisited">
              <h3 class="recentrlyVisitedTitle lato-regular">
                recently visited
              </h3>
              <div class="recentlyVisitedContent lato-light">
                <ul>
                  <li>Content Here</li>
                </ul>
              </div>
            </div>
            <div class="ownContent">
              <h3 class="ownContentTitle lato-regular">own content</h3>
              <div class="ownContentContent lato-light">
                <ul>
                  <li>Content Here</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mainContent">
          <div class="contentWrapper">
            <div class="content"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="popup" class="popup-container" style="display: none">
      <form action="/" method="post">
        <div class="popup-content">
          <h1 class="TuumPopupTitle lato-black">Create new Tuum</h1>
          <div class="titleTumm-wrapper">
            <div>
              <label class="lato-bold form-Labels" for="title">Title</label>
              <textarea
                requried
                class="popup-title popup-inputs"
                type="text"
                placeholder="Write here"
              ></textarea>
            </div>
          </div>
          <div class="description-wrapper">
            <div>
              <label class="lato-bold" for="description">Description</label>
              <textarea
                required
                class="popup-description popup-inputs"
                type="text"
                placeholder="Write here"
              ></textarea>
            </div>
          </div>
          <div class="btn-wrapper">
            <input class="popup-close-btn" type="submit" value="Submit" />
          </div>
        </div>
      </form>
      <i id="leaveTuumBtn" class="fa-solid fa-xmark leave-btn"></i>
    </div>

    <script src="/static/js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/darkreader@latest/darkreader.min.js"></script>
    <script>
      window.onload = DarkReader.enable();
      // Function to toggle dark mode
      function toggleDarkMode(isDark) {
        if (isDark) {
          DarkReader.enable({
            brightness: 100,
            contrast: 90,
            sepia: 10,
          });
        } else {
          DarkReader.disable();
        }
      }

      // Event listener for dark mode toggle button
      document
        .getElementById("darkModeToggle")
        .addEventListener("change", () => {
          const isDark = !document.body.classList.toggle("dark-mode");
          toggleDarkMode(isDark);
          localStorage.setItem("darkMode", isDark);
        });

      document
        .querySelector(".userProfile")
        .addEventListener("click", function () {
          var menu = document.getElementById("profile-menu");
          if (menu.classList.contains("hidden")) {
            menu.classList.remove("hidden", "fadeOut");
            menu.classList.add("fadeIn");
            menu.style.display = "block"; // Ensure the menu is shown
          } else {
            menu.classList.remove("fadeIn");
            menu.classList.add("fadeOut");
            setTimeout(() => {
              menu.classList.add("hidden");
              menu.style.display = "none"; // Hide the menu after animation
            }, 500); // Ensure this matches the animation duration
          }
        });
    </script>
  </body>
</html>
