<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/account" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Login">
    </form>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Serveur Web en Go</title>
</head>
<body>
    <h1>Bienvenue sur mon serveur web en Go!</h1>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/web/protected/admin.html">Page protégée</a>
    <script src="/static/js/index.js"></script>
</body>
</html>