<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/settings.css">
    <title>Test</title>
</head>
<body onload="showContent('profile')">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" id="profileLink" class="navLink" onclick="showContent('profile')">Profile</a>
    <a href="#" id="preferencesLink" class="navLink" onclick="showContent('preferences')">Preferences</a>
    <a href="#" id="accessibilityLink" class="accessibility" onclick="showContent('accessibility')">Accessibility</a>
    <!-- Add more links as needed -->
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<div id="content" class="content">
    <div id="profileContent" class="content-section">
        <!-- Profile content goes here -->
        <div class="profile-info">
            <h2 class="title">My Informations</h2>
            <p>Username: <span id="username">username</span></p>
            <p>Email: <span id="email">email</span></p>
        </div>
        <div class="profile-actions">
            <h2 class="title">Actions</h2>
            <button id="edit-profile">Edit Profile</button>
            <button id="delete-profile">Delete Profile</button>
        </div>
    </div>
    <div id="preferencesContent" class="content-section" style="display:none;">
        <!-- Preferences content goes here -->
        <h2>Preferences</h2>
        <p>This is the preferences section.</p>
    </div>
    <div id="accessibilityContent" class="content-section" style="display:none;">
        <!-- Accessibility content goes here -->
        <h2>Accessibility</h2>
        <p>This is the accessibility section.</p>

        <!-- Add more content sections as needed -->
    </div>
</div>
    <script src="static/js/settings.js"></script>
</body>
</html>
