<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tuum</title>
    <link rel="icon" href="/static/img/TuumLogo.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/stylesheets/index.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body>
    <div id="windowWrapper">
      <div class="containerGrid">
        <header class="topBar">
          <i
            id="toggle-menu"
            class="fa-solid fa-bars svg-dimentions left-menu"
          ></i>
          <h1 class="lato-black" id="TuumsPage">Tuums</h1>
          <section>
            <div class="researchWrapper">
              <input
                placeholder="Search Here"
                class="searchBar"
                type="search"
              />
            </div>
            <div id="newTuum">
              <i class="fa-regular fa-square-plus svg"></i>
            </div>
          </section>

          <div id="darkModeToggle">
            <input type="checkbox" class="checkbox" id="checkbox" checked />
            <label for="checkbox" class="checkbox-label">
              <i class="fas fa-moon"></i>
              <i class="fas fa-sun"></i>
              <span class="ball"></span>
            </label>
          </div>
          <div class="userProfile"></div>
          <div id="profile-menu" class="lato-regular hidden">
            <div class="menu-item">
              <i class="fa-regular fa-user userMenuSvg"></i>
              <a href="/profile">Profile</a>
            </div>
            <div class="menu-item">
              <i class="fa-solid fa-arrow-right-from-bracket userMenuSvg"></i>
              <a href="/logout">Logout</a>
            </div>
          </div>
        </header>
        <div class="leftBar">
          <div class="leftBarWrapper">
            <div class="recentlyVisited">
              <h3 class="recentrlyVisitedTitle lato-regular">
                recently visited
              </h3>
              <div class="recentlyVisitedContent lato-light">
                <ul>
                  <li>Content Here</li>
                </ul>
              </div>
            </div>
            <div class="ownContent">
              <h3 class="ownContentTitle lato-regular">own content</h3>
              <div class="ownContentContent lato-light">
                <ul>
                  <li>Content Here</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mainContent">
          <div class="contentWrapper">
            <div class="content">
              <header id="content-header">
                <div class="header-content-wrapper">
                  <h3 class="room-btn lato-regular">Trendings</h3>
                  <h3 class="room-btn lato-regular">Following content</h3>
                </div>
              </header>
              <section class="rooms-wrapper">
                <div class="rooms">
                  <div class="room">
                    <div class="room-header">
                      <h3 class="room-title">Room Title</h3>
                      <p class="room-description">Room Description</p>
                    </div>
                  </div>
                  <div class="room">
                    <div class="room-header">
                      <h3 class="room-title">Room Title</h3>
                      <p class="room-description">Room Description</p>
                    </div>
                  </div>
                  <div class="room">
                    <div class="room-header">
                      <h3 class="room-title">Room Title</h3>
                      <p class="room-description">Room Description</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="popup" class="popup-container" style="display: none">
      <form action="/tuums" method="post">
        <div class="popup-content">
          <!-- wrapper1 -->
          <div class="formTypeSelectorWrapper">
            <select
              name="creationSelector"
              class="lato-black"
              id="creationType"
            >
              <option class="lato-regular" value="newTuum">
                Create New Tuum
              </option>
              <option class="lato-regular" value="newRoom">
                Create New Room
              </option>
            </select>
          </div>
          <!-- wrapper2 -->
          <div id="researchBar" class="formSearchBarWrapper">
            <input
              type="search"
              id="formSearchBar"
              placeholder="Attach to a Rooms here"
              name="searchRomm"
              list="searchBarProposition"
            />
          </div>
            <datalist id="searchBarProposition">
            </datalist>
          
          <!-- wrapper3 -->
          <div id="title" class="titleTumm-wrapper">
            <div>
              <label class="lato-bold form-Labels" for="title">Title</label>
              <textarea
                requried
                class="popup-title popup-inputs"
                type="text"
                placeholder="Write here"
                name="title"
              ></textarea>
            </div>
          </div>
          <!-- wrapper4 -->
          <div id="description" class="description-wrapper">
            <div>
              <label class="lato-bold" for="description">Description</label>
              <textarea
                required
                class="popup-description popup-inputs"
                type="text"
                placeholder="Write here"
                name="description"
              ></textarea>
            </div>
          </div>
          <!-- wrapper5 -->
          <div class="btn-wrapper">
            <input class="popup-close-btn" type="submit" value="Submit" />
          </div>
        </div>
      </form>
      <i id="leaveTuumBtn" class="fa-solid fa-xmark leave-btn"></i>
    </div>

    <script src="/static/js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/darkreader@latest/darkreader.min.js"></script>
    <script>
      window.onload = DarkReader.enable();
      // Function to toggle dark mode
      function toggleDarkMode(isDark) {
        if (isDark) {
          DarkReader.enable({
            brightness: 100,
            contrast: 90,
            sepia: 10,
          });
        } else {
          DarkReader.disable();
        }
      }

      // Event listener for dark mode toggle button
      document
        .getElementById("darkModeToggle")
        .addEventListener("change", () => {
          const isDark = !document.body.classList.toggle("dark-mode");
          toggleDarkMode(isDark);
          localStorage.setItem("darkMode", isDark);
        });

      document
        .querySelector(".userProfile")
        .addEventListener("click", function () {
          var menu = document.getElementById("profile-menu");
          if (menu.classList.contains("hidden")) {
            menu.classList.remove("hidden", "fadeOut");
            menu.classList.add("fadeIn");
            menu.style.display = "block"; // Ensure the menu is shown
          } else {
            menu.classList.remove("fadeIn");
            menu.classList.add("fadeOut");
            setTimeout(() => {
              menu.classList.add("hidden");
              menu.style.display = "none"; // Hide the menu after animation
            }, 500); // Ensure this matches the animation duration
          }
        });
    </script>
  </body>
</html>
